{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié?{% endblock %}
{% block body %}
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center">Mot de passe oublié</h5>
                        <div class="form-label-group ">
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" name="email" id="inputEmail" class="form-control"
                                   placeholder="Email"
                                   required
                                   autofocus>
                        </div>
                        <button class="btn-lg btn-primary m-2 float-right" type="submit">
                            Récuperer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}