{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe!{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Changer son mot de passe</h1>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <input type="hidden" name="token" value="{{ token }}">

        <button class="btn btn-lg btn-primary" type="submit">
           Nouveau mot de passe
        </button>
    </form>

{% endblock %}