{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe!{% endblock %}

{% block body %}
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center">Changer son mot de passe</h5>
                        <div class="form-label-group ">
                            <label for="inputPassword" class="sr-only">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control mb-2"
                                   placeholder="Mot de passe" required>
                            <input type="hidden" name="token" value="{{ token }}">
                            <input type="password" name="password2" id="inputPassword2" class="form-control mb-2"
                                   placeholder="Mot de passe bis" required>
                        </div>
                        <button class="btn btn-lg btn-primary m-2 float-right" type="submit">
                            Nouveau mot de passe
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            {% for message in app.flashes('danger') %}
                <div class="flash-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}