{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Trip{% endblock %}

{% block body %}
    <h1 style="text-align: center">Editer la sortie</h1>
    {{ include('trip/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
