{% extends 'base.html.twig' %}

{% block title %}New Trip{% endblock %}

{% block body %}
    <h1>Create new Trip</h1>

    {{ include('trip/_form.html.twig') }}

    <a href="{{ path('trip_index') }}">back to list</a>
{% endblock %}
