{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}
{% block body %}
    <h1 style="text-align: center">Ajouter une nouvelle Sortie</h1>

    {{ include('trip/_form.html.twig') }}

    <a href="{{ path('trip_index') }}">Retour à la liste des sorties</a>
{% endblock %}
