@import "vars";
@import "~bootstrap/scss/bootstrap";
@import "styleNavFooter.scss";
@import "adherentPage.scss";
@import url(https://fonts.googleapis.com/css?family=Alatsi|Roboto&display=swap);

$font-family: 'Alatsi', sans-serif;
$font-family2: 'Roboto', sans-serif;

body {
  background-color: $secondary-color;
  font-family: $font-family2;
}

h1, h2, h3, h4, h5{
  font-family: $font-family;
}

a {
  color: $warm-color;
}

/*************INSCRIPTION CLUB*********************************/

.logo {
  width: 200px;
}

.title_p {
  text-align: center;
  width: 100%;
  margin: 30px 0;
}

/* scss page accueil */

//.container{
//    margin-left: 10%;
//}
//.card{
//    margin-right: 8%;
//    margin-bottom: 5%;
//    width: 100%;
//}

.presentation {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.cardTitle {
  background-color: #1678a5;
  text-align: center;
  color: white;
  width: 100%;
  padding: 20px 0;
}

.cardText {
  margin: 30px 0;
  padding: 0 30px;
  font-size: 0.9em;
}

.card-body {
  margin-top: 5px;
}

.carousel-portfolio {
  margin-left: 50px;
  margin-top: 20px;
}

.card-accueil {
  box-shadow: -8px -8px 12px #aaa;
}

.checkbox {
  width: 50px
}

.inline {
  display: inline-block;
}

label {
  min-width: 120px;
}

.inscriptionTitle {
  background: #060040;
  height: 46px;
  color: #ffffff;
  font-size: 23px;
  line-height: 40px;
  padding: 0 0 0 20px;
  margin: 20px 0 20px;
}

.btn_footer {
  text-align: right;
  margin: 20px 0;
}

/* CSS page Activity */

.cardTitle {
  background-color: #1678a5;
  text-align: center;
  color: white;
  width: 100%;
  padding: 20px 0;
}

.cardText {
  margin: 30px 0;
  padding: 0 30px;
  font-size: 0.9em;
}


.card-body {
  margin-top: 5px;

}

.card-accueil {
  box-shadow: -8px -8px 12px #aaa;
}

.carouselActivity {
  width: 90%;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
}


.signForm {
  margin-bottom: 100px;
}

.card-footer {
  background-color: $color-footer-card;
}

.card-header {
  background-color: $color-footer-card;
}

/* page présentation bureau */

.titleMembers {
  margin-left: 10%;

}
