
@import "vars";
@import "~bootstrap/scss/bootstrap";
@import "styleNavFooter.scss";

body {
    background-color: $secondary-color;
}

a {
    color: $warm-color;
}

/* CSS page Activity */

.containerActivity-fluid {
    margin-left: 20px;
    margin-right: 10px;
}

.button {
    display: block;
    width: 100%;
    text-align: center;
}

.btn-primary {
    background-color:#1678a5;;
}

.card-title {
    background-color:#1678a5;
    color: white;
    width: 100%;
}