@import "vars";
@import "~bootstrap/scss/bootstrap";
@import "styleNavFooter.scss";
@import "adherentPage.scss";

body {
  background-color: $secondary-color;
}

a {
  color: $warm-color;
}

/*************INSCRIPTION CLUB*********************************/

.logo {
  width: 200px;
}

.title_p{
  text-align: center;
  width: 100%;
  margin: 30px 0;
}
/* scss page accueil */

//.container{
//    margin-left: 10%;
//}
//.card{
//    margin-right: 8%;
//    margin-bottom: 5%;
//    width: 100%;
//}

.presentation {
    width: 50%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.cardTitle{

    text-align: center;
    color: white;
    width: 100%;
    padding: 20px 0;
}
.cardText{
  margin: 30px 0;
  padding: 0 30px;
  font-size: 0.9em;
}
.card-body{
  margin-top: 5px;
}

.carousel-portfolio{
  margin-left: 50px;
  margin-top: 20px;
}

.card-accueil{
  box-shadow: -8px -8px 12px #aaa;
}



.checkbox {
  width: 50px
}

.inline {
  display: inline-block;
}

label {
  min-width: 120px;
}

.inscriptionTitle {
  background: #060040;
  height: 46px;
  color: #ffffff;
  font-size: 23px;
  height: 46px;
  line-height: 40px;
  padding: 0 0 0 20px;
  margin: 20px 0 20px;
}

.btn_footer{
  margin-top : 30px;
}

/* CSS page Activity */

.containerActivity-fluid {
    margin-left: 20px;
    margin-right: 10px;
}

.button {
    display: block;
    width: 100%;
    text-align: center;
}

.btn-primary {
    background-color:#1678a5;;
}

.card-title {
    background-color:#1678a5;
    color: white;
    width: 100%;
}

.card-footer{
  background-color: $color-footer-card;
}
.card-header{
  background-color: $color-footer-card;
}
/* page présentation bureau */

.titleMembers{
  margin-left: 10%;
}

