.nav-background {
  width: 100%;
  background-image: url('/img/fondSite buble.jpg');
  height: 350px;
  padding: 0px;
}

.svgnavbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 350px;
  /* set height to pixels if you want angle to change with screen width */
}

.logosite {
  position: absolute;
  left: 50px;
  top: 80px;
  width: 15%;
  min-width: 250px;
  height: auto;
  filter: drop-shadow(0 -3mm 3mm #000080);
  /* set height to pixels if you want angle to change with screen width */
}

//style du footer

.footer-background {
  width: 100%;
  height: 350px;
  background-image: url('/img/imgFooter.jpg');
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 0;
}

#sticky-footer {
  position: relative;
  left: 0;
  top: 0;

}

.svgFooter {
  position: relative;
  left: 0;
  top: -24px;
  width: 100%;
  height: 350px;
}

#sticky-footer {
  position: relative;
  top: 250px;
}