//style de la navbar
.nav-background {
    width: 100%;
    background-image: url('/img/navbarTest.jpg');
    background-size: cover;
    height: 350px;
    padding: 0px;
}

.bgNavbar-primary {
    background-image:linear-gradient(to right,rgba(0,0,128,1),rgba(0,0,128,0) , rgba(0,0,128,1));

}

.svgnavbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
    /* set height to pixels if you want angle to change with screen width */
}

.logosite {
    position: absolute;
    left: 50px;
    top: 80px;
    width: 15%;
    min-width: 250px;
    height: auto;
    filter: drop-shadow(0 -3mm 3mm #000080);
    /* set height to pixels if you want angle to change with screen width */
}

.positionZ{
    z-index: 1;
}

//style du footer

.footer-background {
    width: 100%;
    height: 350px;
    background-image: url('/img/footerTest.jpg');
    background-size: cover;
    padding: 0px;
    margin: 0px;
    margin-bottom: -50px;
    display : table-row;
}

#sticky-footer {
    position: relative;
    left: 0;
    top: 0;
}

.svgFooter {
    position: relative;
    left: 0;
    top: -74px;
    width: 100%;
    height: 350px;
    padding-top: 8px;
}

#sticky-footer {
    position: relative;
    top: 250px;
}
