//style de la navbar
.nav-background {
    width: 100%;
    background-image: url('/img/navbarTest.jpg');
    background-size: cover;
    height: 350px;
    padding: 0px;
}

.bgNavbar-primary {
    background-image:linear-gradient(to right,rgba(0,0,128,1),rgba(0,0,128,0) , rgba(0,0,128,1));

}

.svgnavbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
    /* set height to pixels if you want angle to change with screen width */
}

.logosite {
    position: absolute;
    left: 50px;
    top: 80px;
    width: 15%;
    min-width: 250px;
    height: auto;
    filter: drop-shadow(0 -3mm 3mm #000080);
    /* set height to pixels if you want angle to change with screen width */
}

.logoCarre {
    width: 100px;
    height: 100px;
}

.logoRectangle {
    height: 100px;
}

.positionZ{
    z-index: 1;
}

//style du footer

.footer-background {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url('/img/footer_1284px.png');
    background-size: cover;
    height:300px;
}

#sticky-footer{
    height: 100px;
}

.wildText {
    display: flex;
    position: absolute;
    margin-top: 250px;
    margin-left: 40%;
}

.copyright {
    color: white;
    font-size: 0.6em;
    line-height: 0.5em;
}

.prenoms {
    color: white;
    font-size: 0.6em;
    line-height: 0.5em;
}

.wild {
    display: flex;
    height: 40px;
}

.textCopy {
    margin-top: 7px;
    margin-left: 5px;
}

@media screen and (max-width: 790px) {
    .footer-background {
        width: 100%;
        height: 200px;
    }

    .wildText {
        margin-top: 150px;
        margin-left: 35%;
    }

    .copyright {
        font-size: 0.5em;
    }

    .prenoms {
        font-size: 0.5em;
    }

    .logo_wild {
        width: 35px;
        height: 35px;
        margin-top: 3px;
    }
}

@media screen and (max-width: 550px) {
    .footer-background {
        width: 100%;
        height: 150px;
    }

    .wildText {
        margin-top: 100px;
        margin-left: 30%;
    }

    .copyright {
        font-size: 0.4em;
        line-height: 0.3em;
    }

    .prenoms {
        font-size: 0.4em;
        line-height: 0.3em;
    }

    .logo_wild {
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }

    .textCopy {
        margin-top: 10px;
    }
}


