{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello Admin!{% endblock %}
{% block body %}


    <div class="jumbotron">
        <h1 class="display-4">Bonjour admin</h1>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('pmtindex') }}" role="button">Retour au site</a>
        </p>
    </div>
{% endblock %}
