
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css">
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block title %}Calendrier{% endblock %}
{% block body %}
    <h1 class="h1-calendar">Calendrier de nos sorties annuelles </h1>
<div class="container p-3 container-user">
    {% include '@FullCalendar/Calendar/calendar.html.twig' %}
</div>
{% endblock %}
 {% block footer %}
     {% include '_footer.html.twig' %}
 {% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/locale/fr.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $("#calendar-holder").fullCalendar({
                eventSources: [
                    {
                        url: "{{ path('fullcalendar_load_events') }}",
                        type: "POST",
                        data: {
                            filters: {},
                        },
                        error: function () {
                            // alert("There was an error while fetching FullCalendar!");
                        }
                    }
                ],
                customButtons: {
                    myCustomButton: {
                        text: 'Retour aux activités',
                        click: function() {
                            window.location.href = "{{path('activity_index')}}";
                        }
                    }
                },
                header: {
                    center: "title",
                    left: "prev,next today myCustomButton",
                    right: "month,agendaWeek,agendaDay"
                },
                lazyFetching: true,
                locale: "fr",
                navLinks: true, // can click day/week names to navigate views
                height: 700,
                String, default:'bootstrap',


            });

        });
    </script>
{% endblock %}
