{% block body %}


    <div><h2 style="text-align: center">Demande de renseignement de :</h2></div>
    <div>
        <h4 style="text-align: center"> {{ contact.lastname }}</h4>
        <h5 style="text-align: center">Email: {{ contact.email }}</h5>
    </div>
    <div>
        <h3 style="text-align: center">A propos:</h3>

        <p style="text-align: center">{{ contact.message }}</p>
    </div>
{% endblock %}