<div class="footer-background">
    <footer id="sticky-footer" class="positionZ">
        <div class="container text-center copyrightfooter ">
            <div class=" d-flex justify-content-around">
                <a href="https://www.ffessm.fr"><img src="/img/logoFede.jpg"></a>
                <a href="https://www.facebook.fr"><img src="/img/logoFacebook.png"></a>
                <a href="https://www.mairie-trevoux.fr/"><img src="/img/logoMairieTrevoux.jpg"></a>
                <a href="https://www.ffessm.fr/agir-en-responsable/handisub"><img src="/img/logoHandisub.jpg"></a>
            </div>
        </div>
    </footer>

    <svg class="svgFooter" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,0 100,0  100,65 0,0"/>
    </svg>
</div>