<div class="footer-background">
    <footer id="sticky-footer">
        <div class="container text-center copyrightfooter text-white">
            <div class="d-flex justify-content-around">
                <img src="/img/logoFede.jpg">
                <img src="/img/logoFacebook.png">
                <img src="/img/logoMairieTrevoux.jpg">
                <img src="/img/logoHandisub.jpg">
            </div>
        </div>
    </footer>

    <svg class="svgFooter" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,0 100,0  100,65 0,0"/>
    </svg>
</div>