<div class="footer-background">
    <footer id="sticky-footer">
        <div class="container text-center copyrightfooter text-white">
            <small>Copyright &copy; Mama Pam Fifi Titi Juju</small>
        </div>
    </footer>

    <svg class="svgFooter" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,0 100,0  100,65 0,0"/>
    </svg>
</div>