

<div class="footer-background">
    <div>
        <a class="logoFacebook" href="https://www.facebook.fr"><img src="/img/logo_facebook.png" alt="logo Facebook"></a>
    </div>
    <div class="wildText">
        <a class="wild" href="https://www.wildcodeschool.com/fr-FR"><img src="/img/logo_wild.jpg"></a>
        <div class="textCopy">
            <p class="copyright">Copyright &copy; 2019 Wild Code School</p>
            <p class="prenoms">Marion Pierre-Alain Julien Thierry Philippe</p>
        </div>
    </div>
</div>