

<div class="footer-background">
    <div class="wildText">
        <a class="wild" href="https://www.wildcodeschool.com/fr-FR"><img class="logo_wild" src="/img/logo_wild.jpg"></a>
        <div class="textCopy">
            <p class="copyright">Copyright &copy; 2019 Wild Code School</p>
            <p class="prenoms"><a href="{{ path('pmt_madamemongoingoingoin') }}" style="outline: none;color:white;text-decoration: none;">Marion Pierre-Alain Julien Thierry Philippe</a></p>
        </div>
    </div>
</div>
