<div class="nav-background">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand  text-white p-0" href="#"><h1>Pour Marion , Tous à poil!!! </h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="
            navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-warning"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nos activités
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Apéro</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="#">Bureau<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="#">Stylisation<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="#">Mouillés<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <svg class="svgnavbar" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,0 0,100  100,100 0,35"/>
    </svg>
    <img src="/img/Le-Plongeur-Masque.png" alt="logo association PMT" class="logosite">

</div>