<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcon icon" href="/img/plongeurFav.png">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {% include '_navbar.html.twig' %}


        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}


        {% block footer %}
{#        {% include '_footer.html.twig' %}#}
        {% endblock %}

    </body>
</html>
