{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="container">
        {{ include('user/_form.html.twig', {'button_label': 'mettre à jour'}) }}
    </div>
{% endblock %}
